language: rust
rust:
  - stable
  - beta
  - nightly
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
after_success:
- test $TRAVIS_BRANCH = "stabilize" && bash ci/publish_docs.sh